<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<style>

	.full_width {
		/*margin-left: 0 !important;
		margin-right: 0 !important;*/
		padding-top: 40px !important;
		padding-bottom: 0 !important;
		width: 75% !important;
		border: 1px solid #eee;
	}

	.overlay {
	  position: relative;
	  /*overflow:auto;*/
	  overflow-x: scroll;
	}					

	.slideshow_text {
		font-weight: 200;
	}

	.after_pic_cell {
		padding-right: 25px;
		padding-left: 5px;
	}

	.overlay::-webkit-scrollbar {
	    -webkit-appearance: none;
	}

	.overlay::-webkit-scrollbar:vertical {
	    width: 11px;
	}

	.overlay::-webkit-scrollbar:horizontal {
	    height: 11px;
	}

	.overlay::-webkit-scrollbar-thumb {
	    border-radius: 8px;
	    border: 2px solid white; /* should match background, can't be transparent */
	    background-color: rgba(0, 0, 0, .5);
	}

	.overlay::-webkit-scrollbar-track { 
	    background-color: #fff; 
	    border-radius: 8px; 
	} 	

</style>

<html>
	<head>
		<title>Cleaning On Demand</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-leaf"></span>
				<h1>Cleaning On Demand</h1>
				<p>State-of-the-art steam cleaning
				<br />
				Serving the New York Metro Area
				<br />
				(212) 255-7654
			</div>

		<!-- Main -->
			<div id="main">

				<header class="major container 75%">
					<h2>Rinseless wash
					<br />
					combined with steam technology
					<br />
					for superior service</h2>
					<!--
					<p>Tellus erat mauris ipsum fermentum<br />
					etiam vivamus nunc nibh morbi.</p>
					-->
				</header>

				<div class="box alt container">
					<section class="feature left">
						<a href="#" class="image icon"><img src="images/pic01.jpg" alt="" /></a>
						<div class="content">
							<h3>Steam Cleans Better</h3>
							<p>We use steam vapor to clean your car's exterior and interior. As a critical component of the cleaning industry, steam is known for being effective and sterilizing.</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon"><img src="images/pic02.jpg" alt="" /></a>
						<div class="content">
							<h3>Steam Doesn't Hurt</h3>
							<p>Steam cleaning your vehicle will not scratch your car nor damage the paint. In fact, you're more likely to see scratches after a traditional car wash than you would after a steam clean!</p>
						</div>
					</section>
					<section class="feature left">
						<a href="#" class="image icon"><img src="images/pic03.jpg" alt="" /></a>
						<div class="content">
							<h3>Save The Environment</h3>
							<p>Steam cleaning uses LESS water than a traditional car wash with no waste-water run-off!</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon"><img src="images/pic04.jpg" alt="" /></a>
						<div class="content">
							<h3>Business To Business</h3>
							<p>Looking for a cleaning solution for your business's entire fleet? Cleaning on Demand has you covered, call for more details!</p>
						</div>
					</section>					
				</div>




				<footer class="major container 75% full_width">
					<h3>Before And After</h3>
					<p>Check out these REAL photos of vehicles cleaned by Cleaning On Demand <i class="fa fa-arrow-right"></i></p>
	

				  <div class="overlay">
				    <table width="100%" height="350px">
				  		<tr>					
								<% i = 1 %>
								<% 17.times do %>
									<td class="before_pic_cell">
										<center><h5 class="slideshow_text">Before</h5></center>
										<img src="images/beforeafter/before<%= i.to_s %>.png" height="350px" alt="" />
									</td>
									<td class="after_pic_cell">
										<center><h5 class="slideshow_text">After</h5></center>
										<img src="images/beforeafter/after<%= i.to_s %>.png" height="350px" alt="" />
									</td>
									<% i += 1 %>
								<% end %>
							</tr>
						</table>
					</div>

				</footer>

			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container 75%">

					<header class="major last">
						<h2>Questions or comments?</h2>
					</header>

					<p>If you're looking to schedule a cleaning or consultation give us a call or fill out the form below. We'll be sure to get back to you ASAP!</p>

					<form method="post" action="#" class="remote">
						<div class="row">
							<div class="6u 12u(mobilep)">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="6u 12u(mobilep)">
								<input type="email" name="email" placeholder="Email" />
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<textarea name="message" placeholder="Message" rows="6"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<ul class="actions">
									<li><input id="submit_button" type="submit" value="Send Message" /></li>
								</ul>
							</div>
						</div>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-yelp"><span class="label">Yelp</span></a></li>
						<li><a href="#" class="icon fa-foursquare"><span class="label">Foursquare</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Cleaning On Demand. All rights reserved.</li>
					</ul>

				</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			
			<script>
				$( "#submit_button" ).click(function( event ) {				  
				  document.getElementById('submit_button').value = "Sent!"
				});
			</script>

	</body>
</html>